html {
  height: 100%;
}
body{
	min-height:98%;
	width: 98%;    
   	vertical-align: top;
	font-size: 14px;
	min-width: 1200px;
	font-family: "Helvetica Neue", Helvetica;
}
.content_body{
	margin-top : 20px;
	min-height : 100%
}


#evaluation_student{
	border: solid 1px red;
	margin: 10px ;
	width: 90%;
	height : 70%;	
	display: inline-block;    
    vertical-align: top;
		
}


#evaluation_list{
	border: solid 1px red;
	width: 100%;	
	display: inline-block;    
    vertical-align: top;
		
}

#evaluation_comment{
	width: 100%;	   
	display: inline-block;    
    vertical-align: top;
		
}
 
textarea {
	width: 80%;	
	height:100px;  
   resize: none;

}

.left{
	margin: auto;

	width: 18%;	
	display: inline-block;    
    vertical-align: top;
}

.centerAndRight{

	width: 80%;	
	display: inline-block;    
    vertical-align: top;
    height : 500px;
	
}

.center{

	width: 70%;	
	height: 100%;
	display: inline-block;    
    vertical-align: top;
}

.right{

	width: 29%;	
	height: 100%;
	display: inline-block;    
    vertical-align: top;
    
}

#chart {
	margin: auto; 
	padding:8px;
	display: block;  
	max-width:80%;   
    border: 1px solid #AAA;
    -moz-box-shadow: 4px 4px 10px #AAA;  
	-webkit-box-shadow: 4px 4px 10px #AAA;  
	box-shadow:4px 4px 6px #AAA;	
}	


#notification  {
	display: block;   
    vertical-align: right;	
    border: 1px solid #AAA; 
	background-color:white;
	padding:8px;
	font-size:100%; 
	height:45%;
	max-width:90%; 
	margin:auto;
	color:black;
	-moz-box-shadow: 4px 4px 10px #AAA;  
	-webkit-box-shadow: 4px 4px 10px #AAA;  
	box-shadow:4px 4px 6px #AAA;
 	
}
	
#profile {
	display: block;   
    vertical-align: right;	
    border: 1px solid #AAA; 
	background-color:white;
	padding:8px;
	height:45%;
	font-size:100%; 
	max-width:90%; 
	margin:auto;
	color:black;
	-moz-box-shadow: 4px 4px 10px #AAA;  
	-webkit-box-shadow: 4px 4px 10px #AAA;  
	box-shadow:4px 4px 6px #AAA; 	
}	




/*---right menu styles start here ----- */


.navbox {
	display: inline-block;    
    vertical-align: top;
	position: relative;
	float: left;
}

.nav {
	list-style: none;	
	width: 200px;
	position: relative;
	left: 20px;
	padding: 40px 0 40px 0;
	background: url(../../images/shad2.png) no-repeat;
	-webkit-background-size: 100% 100%;
}



ul.nav #navbox_tab #nav_ref{
	-webkit-transition: all 0.3s ease-out;
	background: #cbcbcb url(../../images/border.png) no-repeat;
	color: #174867;
	padding: 7px 15px 7px 15px;
	-webkit-border-top-right-radius: 5px;
 	-webkit-border-bottom-right-radius: 5px;
	width: 120px;
	display: block;    
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
	margin: 5px 0 0 0;
}

ul.nav #navbox_title {
	background: #174867 url(../../images/border.png) no-repeat;
	color: #cbcbcb;
	padding: 10px 15px 10px 30px;
	-webkit-border-top-right-radius: 5px;
 	-webkit-border-bottom-right-radius: 5px;
	width: 120px;
	display: block;    
    vertical-align: top;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
	margin: 5px 0 0 0;
}

ul.nav #navbox_tab #nav_ref:hover {
	background: #ebebeb url(../../images/border.png) no-repeat;
	color: #67a5cd;
	padding: 7px 15px 7px 30px;
}

/*--- right menu styles end here ----- */

#tabs ul
{
    font: normal 14px arial, sans, sans-serif;
    -list-style-type: none;
    border-bottom: 1px solid gray;
    margin: 0;
    padding-left:0;
    padding-right:0;
    padding-bottom: 26px;
}

#tabs ul li 
{
    display: inline;
    float: left;
    height: 24px;
    min-width:80px;
    text-align:center;
    padding:0;
    margin: 1px 0px 0px 0px;
    border: 1px solid gray;
}

#tabs ul li.selected 
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}


#tabs ul li a 
{
    float: left;
    color: #666;
    text-decoration: none;
    padding: 4px;
    text-align:center;
    background-color:#eee;
    min-width:80px;
    border-bottom: 1px solid gray;
}

#tabs ul li a.selected
{
    color: #000;
    font-weight:bold;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

#tabs ul li a:hover
{
    color: #000;
    font-weight:bold;
    background-color: #fff;
}

/*---statistique radar styles start here ----- */
#container 
{
    background: white;
    border:1px solid gray;
    border-top: none;
    height:350px;
    width:100%;
    padding:0;
    margin:0;
    left:0;
    top:0;	
}

iframe
{
    border:none;
    margin:0;
    padding:0;
}
/*---statistique radar styles end here ----- */

/*---table files styles start here ----- */
table {
	border: 1px solid #aaa;
}
table th {
	color: #4f6b72;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	background: url(images/bg-tbl-header.gif) no-repeat;
	background-color: #d9d9d9;
	font-size:13px;
	padding:2px 5px;
	font-weight:bold;
}
table td {
	color: #4f6b72;
	padding:5px;
}
table td.bg2, 
table tr.bg2 td {
	background-color: #f5f8fe;	
}

/*---table files styles end here ----- */




#popup {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-width: 450px;
    padding: 25px
}

#popup .logo {
    color: #2b91af;
    font: bold 325% 'Petrona', sans
}

#popup{
    min-height: 250px
}



.button {
    background-color: #2b91af;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    box-shadow: none; 
    text-decoration: none
}

.button.small {
    border-radius: 15px;
    float: right;
    margin: 22px 5px 0;
    padding: 6px 15px
}

.button:hover {
    background-color: #1e1e1e
}

.button>span {
    font-size: 84%
}

.button.b-close {
    border-radius: 7px 7px 7px 7px;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px
}


