@CHARSET "US-ASCII";

/*For nav bar*/
* {
  margin: 0px;
}

/* For Evaluation */
.EV {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  line-height: 2;
  position: absolute;               
  top: 15%;
  left : 90%;
  width: 200px;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.EV-item {
  background: #fecd66;
  width: 200px; 
}

/*Menu Header Styles*/
.EV-item h4 {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #fecd66;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
  
  /*Gradient*/
  background: #006599; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006599', endColorstr='#006599',GradientType=0 ); /* IE6-9 */
}

.EV-item h4:hover {  
  background: #006599; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006599', endColorstr='#006599',GradientType=0 ); /* IE6-9 */

}

.EV-item h4 a {
  color: white;
  display: block;
  text-decoration: none;
  width: 200px;
}

.EV h4:hover {
  background : #fecd66;
}

/* For Students */
.STD {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  line-height: 2;
  position: absolute;               
  top: 15%;
  left : 5%;
  width: 200px;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.STD-item {
  background: #fecd66;
  width: 200px; 
}

/*Menu Header Styles*/
.STD-item h4 {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #fecd66;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
  
  /*Gradient*/
  background: #006599; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006599', endColorstr='#006599',GradientType=0 ); /* IE6-9 */
}

.STD-item h4:hover {  
  background: #006599; /* Old browsers */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006599', endColorstr='#006599',GradientType=0 ); /* IE6-9 */

}

.STD-item h4 a {
  color: white;
  display: block;
  text-decoration: none;
  width: 200px;
}

/*ul Styles*/
.STD-item ul {
  background: #eee;
  font-size: 20px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  
  /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}


.STD-item:hover ul {
  height: 150px;
}

.STD-item ul a {
  margin-left: 20px;
  text-decoration: none;
  color: #006599;
  display: block;
  width: 200px;
}

/*li Styles*/
.STD-item li {
  border-bottom: 1px solid #eee;
}

.STD-item li:hover {
  background: #fecd66;
}


