.leftmenubox {
	display: inline-block;    
    vertical-align: top;
	position: relative;
	float: left;
	top: -30px;
}

.leftmenu {
	list-style: none;	
	width: 200px;
	position: relative;
	left: 20px;
	padding: 40px 0 40px 0;
	background: url(../images/shad2.png) no-repeat;
	-webkit-background-size: 100% 100%;
}



ul.leftmenu #leftmenubox_tab #leftmenu_ref{
	-webkit-transition: all 0.3s ease-out;
	background: #cbcbcb url(../images/border.png) no-repeat;
	color: #174867;
	padding: 5px 15px 5px 15px;
	-webkit-border-top-right-radius: 5px;
 	-webkit-border-bottom-right-radius: 5px;
	width: 140px;
	display: block;    
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
	margin: 5px 0 0 0;
}

ul.leftmenu #leftmenubox_title {
	background: #006599 url(../images/border.png) no-repeat;
	color: #eee;
	padding: 10px 15px 10px 30px;
	-webkit-border-top-right-radius: 5px;
 	-webkit-border-bottom-right-radius: 5px;
	width: 160px;
	display: block;    
    vertical-align: top;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
	margin: 5px 0 0 0;
}

ul.leftmenu #leftmenubox_title #leftmenu_title {
	text-decoration: none;
	color: #eee;
}

ul.leftmenu #leftmenubox_tab #leftmenu_ref:hover {
	background: #fecd66 url(../images/border.png) no-repeat;
	color: #67a5cd;
	padding: 7px 15px 7px 30px;
}